* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

body {
  font-family: "Rubik", sans-serif;
  background-color: var(--color-bg);
  margin: 0;
}

canvas {
  display: block;
}

/* Title */

.landingText {
  float: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
  margin: 0;
  padding: 0;
}

h1 {  
  margin: 0;
  padding: 0;

  font-size: 50px;
  /*font-style: italic;*/
  font-weight: 600;
  letter-spacing: 10px;

  text-shadow: 0px 0px 15px #E9BE91, 0px 0px 25px #0a0509;
  color: #FFFAEE;
}

h2 {
  margin: 0;
  padding: 0;

  font-weight: 400;
  letter-spacing: 2px;
  text-shadow: 0px 0px 12px #E9BE91, 0px 0px 25px #0a0509;
  color: #FFFAEE;
}

h3 {
  margin: 0;
  padding: 5px;

  font-weight: 400;
  letter-spacing: 2px;
  text-shadow: 0px 0px 12px #E9BE91, 0px 0px 25px #0a0509;
  color: #FFFAEE;
}

/* Nav bar styling */
ul.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #0C2136;
}

ul.navbar li {
  float: right;
}

ul.navbar li a {
  display: block;
  color: white;
  text-align: center;
  margin: 10px 20px;
  text-decoration: none;
  transition-duration: 0.3s;
}

ul.navbar li.register {
  border-radius: 15px;
  background-color: #123345;
}

ul.navbar li a:hover {
  transform: scale(1.2);
}

/* Tracks component styling */
#tracks { /* Main body (background) for tracks component*/
  background-image: linear-gradient(180deg, #521C1A, #383030);
  height: 120vh;

  margin: 0;
  padding: 100px 200px 200px 200px;
}

.trackmodule { /* Boxes the tracks go in */
  width: 33%; /* TODO: scale for responsiveness */
  float: left;
}

.track {
  background-color: white;
  border-radius: 15px;
  margin: 10px;

  box-shadow: 0px 0px 30px #E06F4B;
  background-image: linear-gradient(45deg, #FEC58B, #F29A73);
}

.trackmodule h4 {
  display: block;
  width: auto;
  padding: 15px 15px 0px 15px;

  text-align: center;
  text-shadow: none;
  color: #230404;
}

#tracks .trackmodule p {
  display: block;
  width: auto;
  padding: 0px 40px 40px 40px;

  text-align: center;
  text-shadow: none;
  color: #230404;
}

/* FAQ component styling */
#faqs { /* Main body (background) for tracks component*/
  background-image: linear-gradient(-180deg, #521C1A, #383030);
  height: 120vh;

  margin: 0;
  padding: 100px 200px 200px 200px;
}

.question { /* Organizes question components */
  /*float: left;*/
  display: inline-block;
  width: 48%;
  
  padding: 5px;
}

button.faq { /* FAQ questions */
  background-color: #eee;
  border-radius: 15px;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.faqcontent { /* FAQ answer dropdown */
  width: 95%;
  float: right;
  padding: 0 18px;
  margin: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-style: none none none solid;
  border-width: 5px;
}

p.faqcontent { /* FAQ answer text */
  color: blue;
}

/* Page structure */

.title {
  color: #2800FF;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 0;
}

h2.moduletitle { /* Component title */
  text-align: center;
  padding: 0;
  font-weight: 500;
  letter-spacing: 4px;

  text-shadow: 0px 0px 15px #E9BE91;
  color: #FFFAEE;
}

p.description { /* Description for the component*/
  text-align: center;
  text-shadow: 0px 0px 10px #E9BE91;
  color: #FFFAEE;
}

#registration {
  font-family: inherit;
  font-size: 100%;
  font-weight: 500;
  letter-spacing: 1px;
  box-sizing: border-box;
  
  margin: 10px;
  padding: 10px 20px 10px 20px;

  border-radius: 15px;
  border-style: none;

  color: #230404;
  background-image: linear-gradient(to right, #FEC58B, #F29A73);
}

#registration:hover{
  color: #b15226;
  background-image: linear-gradient(to right, #ffebd6, #fde0d4);
}

/* Interactive image */
.illustration:active {
  transform: translateY(5px);
}

/* Button dip
- Toggling this class on and off will move it down and up again
- The button transition property above determines the speed of the translate (500ms)
*/
.dipped {
  transform: translateY(5px);
}
