* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

body {
  font-family: HK Grotesk;
  background-color: var(--color-bg);
  margin: 0;
}

canvas {
  display: block;
}

/* Title */
h1 {
  float: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 50px;
  color: white;
}

/* Nav bar styling using ul */
ul {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #FD8D82;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  margin: 10px 20px;
  text-decoration: none;
  transition-duration: 0.3s;
}

li.apply {
  border-radius: 15px;
  background-color: #F97466;
}

li a:hover {
  transform: scale(1.2);
}

/* Page structure */

.title {
  color: #2800FF;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 0;
}

/* Button - Add it from the README instructions */
button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  box-sizing: border-box;
  transition: 500ms;
}

/* Interactive image */
.illustration:active {
  transform: translateY(5px);
}

/* Button dip
- Toggling this class on and off will move it down and up again
- The button transition property above determines the speed of the translate (500ms)
*/
.dipped {
  transform: translateY(5px);
}
